<p id="notice"><%= notice %></p>

<h1>Coffee Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Origin</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coffee_lists.each do |coffee_list| %>
      <tr>
        <td><%= coffee_list.name %></td>
        <td><%= coffee_list.origin %></td>
        <td><%= coffee_list.price %></td>
        <td><%= link_to 'Show', coffee_list %></td>
        <td><%= link_to 'Edit', edit_coffee_list_path(coffee_list) %></td>
        <td><%= link_to 'Destroy', coffee_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coffee List', new_coffee_list_path %>
